.ipynb_checkpoints/
__pycache__/

#virtual environments
alfred_venv

#external packages
simple/
ugali/
simple_adl/
astroquery_updated/

#all the data
external_data/
euclid_data/

#files that just might not transfer well
usdf_pipeline_tests.ipynb
nersc_pipeline_tests.ipynb
#plots/
